<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Data Monitering Front Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
</head>

<body>
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="#">Monitoring System</a>
        <button id="editbutton" type="button" class="btn btn-info">작업장 편집</button>
    </nav>
    {% block content %}
    {% endblock %}


</body>

</html>